[Desktop Entry]
Exec=/app/jre/bin/java -jar %f
Icon=application-x-executable
Comment=Java 8 Player
Name=Flava 8
NoDisplay=true
StartupNotify=false
Categories=Application;X-Internet;Network;
Type=Application
MimeType=application/java-archive



